<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/dashboard.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.contacts">
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/contacts.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.contacts.MAIN"> Contacts </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/loantools.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.loanTools.MAIN"> Loan Tools </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/insurancetools.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.insuranceTools.MAIN"> Insurance Tools </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/workflow.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.workflow.MAIN"> Workflow </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/communicate.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.communicate.MAIN"> Communicate </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/report.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.report.MAIN"> Report </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/commission.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.commission.MAIN"> Commission </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/resources.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.resources.MAIN"> Resources </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/referrals.svg'">
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.referral.MAIN"> Referral </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<div class="navbar-title">
    <span translate="sidebar.heading.USERS">USERS</span>
</div>
<ul class="folders">
    <li>
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/feedback.svg'">                
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.feedback.MAIN"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="item-content">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/users.svg'">                
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.users.MAIN"> Users </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <div class="item-content item-highlighted">
                <div class="item-media mycrm-icon" ng-include="'assets/images/icons/customise.svg'">                
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.customiseTheme.MAIN"> Customise theme </span>                    
                </div>
                <div class="item-media mycrm-icon large" ng-include="'assets/images/icons/new.svg'">                
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: FEATURES -->